@using MyBlazorShop.Libraries.Services.Product.Models;

<h3>ProductModal</h3>

<div class="row">
   <div class="col-5 col-md-4"> Procut navn: </div>
   <div class="col-9 col-md-9"> @surfBoardModel.Name </div>

</div>

@code {

    [Parameter]
    public SurfBoardModel surfBoardModel { get; set; }
    

    protected override void OnInitialized()
    {

       
        base.OnInitialized();
    }
}

